h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 3rem;
    color: green
}

/*This is a comment, CSS will not read this*/
h1,
a {
    color: purple;
}

a {
    text-decoration: none;
}